* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
}


header {
    background-color: #ffffff;
    height: 111px;
    width: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
   
}
#chef-logo {
    height: 90px;
    width: auto;
}     
#title-tagline {
    text-align: center;
    margin: 0px 0px 0px 0px;
    letter-spacing: -5%;
}
#nav-title {
    font-size: 25px;
    margin: 0px 0px 0px 0px;
    font-weight: 400;
}
#nav-tagline {
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    font-style: italic;
}
#main-section{
    padding: 67px 0px 67px 0px;
    height: auto;
    background-color: #fafaf8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  
}
#main-form {
    display: flex;
    justify-content: center;
 
}
#main-input {
     height: 38px;
     width: 399px;
     margin: 0px 10px 0px 0px;
     padding: 0px 0px 0px 10px;
     color: #6B7280;
}
#main-input:placeholder-shown {
   padding: 0px 0px 0px 10px;
   border-radius: 5px;
   color: #D1D5DB
}
#main-input:focus {
   outline: 2px solid #d17557;
   border-radius: 5px;
   border: none;
}
#add-btn {
    width: 183px;
    height: 38px;
   background-color: #141413;
   color: #FAFAF8;
   border-radius: 5px;
   cursor: pointer;
}

.ingredients-list {
    /* outline: 1px red solid; */
    margin:  25px 0px 50px 0px;
}
.ingredient {
     /* outline: 1px red solid; */
     margin:  10px 0px 10px 0px;
     color: #475467;
     font-size: 15px;
}
#ingredientlist-section {
    /* outline: 1px pink solid; */
    padding: 0 65px 0 65px;
}
#ingredientlist-section h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.get-recipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;
}
.get-recipe-container h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

.get-recipe-container p {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}
.get-recipe-container button {
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
}